.about {
   padding-top: 70px;
   padding-bottom: 90px;
   background-color: $gray;

   .section-header {
      display: flex;
      justify-content: flex-start;
      margin-left: 6px;
      margin-bottom: 15px;

      @include mobile-query {
         // justify-content: center;
      }

      h2 {
         display: inline-block;
         position: relative;
         z-index: 1;
         color: $black;

         &::before {
            content: "";
            position: absolute;
            height: 8px;
            background-color: #f7d891;
            width: 120%;
            top: 11px;
            bottom: 0;
            left: -6px;
            right: 0;
            z-index: -1;
         }
      }
   }

   .container {
      // max-width: 1080px;
      max-width: 1200px;

      @include tablet-query {
         max-width: 900px;
      }
      @include mobile-query {
         max-width: 400px;
         margin: 0 auto;
      }

      &.grid {
         grid-column-gap: 60px;

         @include mobile-query {
            grid-template-columns: 1fr;
            grid-row-gap: 35px;
         }
         @include tablet-query {
            grid-column-gap: 35px;

         }
      }

      // about / contact
      .about-contact {

         grid-row-gap: 25px;

         @include mobile-query {
            order: 2;
            text-align: left;
         }

         // about
         .about__me {

            p {
               line-height: 1.25rem;
            }

            p:first-of-type {
               margin-bottom: 10px;
            }
         }

         // contact
         .contact {
            &__button {
               margin-top: 28px;
            }
         }

      }

      // Skills
      .skills {

         @include mobile-query {
            order: 1;
         }

         &__grid {
            grid-row-gap: 30px;
            margin-left: -10px;

            @include tablet-query {
               grid-template-columns: repeat(4, 1fr);
            }
            @include mobile-query {

               margin: 0 auto;
            }

            .skills__icon {
               text-align: center;
            }
         }

         p {
            font-family: 'Source Code Pro', monospace;
            font-size: 11px;
            font-weight: 600;
            margin-top: 9px;
            text-align: center;
         }

      }
   }

   img {
      width: 55px;
   }

}
