.about {
   padding-top: 70px;
   padding-bottom: 90px;
   // background-color: $gray;
   position: relative;
   // z-index: -2;

   .container.grid {
      grid-column-gap: 100px;
      // grid-template-columns: 1fr 1fr;
   }

   .section-header {
      margin-bottom: 20px;
   }

   // about-contact
   &-contact {

      //about me
      .about__me {
         max-width: 520px; // REPLACE w/ span
         margin-bottom: 20px;
         p {
            margin-bottom: 15px;
         }
      }

      //contact
      .contact {

         &__button {
            margin-top: 30px;
         }
      }
   }


   // Skills
   .skills {

      .grid {
         grid-gap: 25px 15px;
      }

      &__icon {
         justify-self: center;

         p {
            font-family: 'Source Code Pro', monospace;
            font-size: 11px;
            font-weight: 500;
            text-align: center;
            margin-top: 5px;
         }
         img {
            width: 60px;
         }
      }
   }

}
