.about {

   .container {

      .section-header {
         margin-bottom: 20px;
      }

      // about / contact
      .about-contact {

         grid-row-gap: 60px;

         // about
         .about__me {
            p:first-of-type {
               margin-bottom: 10px;
            }
         }

      }
   }

   .grid {
      grid-column-gap: 40px;
   }

   img {
      width: 55px;
   }

}
