@keyframes fade-in {
   from {
      // visibility: hidden;
      opacity: 0;
   }
   to {
      visibility: visible;
      opacity: 1;
   }
}

//helper class
.fade-in {
   animation: fade-in 200ms ease-in-out normal;
}

@keyframes fade-out {
   from {
      visibility: visible;
      opacity: 1;
   }
   to {
      visibility: hidden;
      opacity: 0;
   }
}

.fade-out {
   animation: fade-out 200ms ease-in-out;
}




// For Filtering
@keyframes scale-in {
   from {
      transform: scale(0.7);
      -ms-tranform: scale(0.7);
   }
   to {
      transform: scale(1);
      -ms-tranform: scale(1);
   }
}
.scale-in {
   animation: scale-in 300ms ease;
}


/// Slide in Content
@keyframes slideInFromLeft {
   from {
      transform: translateX(-100%); //the negative value pushes content over to the left off screen
   }
   to {
      transform: translateX(0); // 0 is the normal position
   }
}

@keyframes slideInFromRight {
   from {
      transform: translateX(100%); // value pushes content over to the right off screen
   }
   to {
      transform: translateX(0);
   }
}

@keyframes slideInFromTop {
   from {
      transform: translateY(-100%);
   }
   to {
      transform: translateX(0);
   }
}

@keyframes slideInFromBottom {
   from {
      transform: translateY(100%);
   }
   to {
      transform: translateX(0);
   }
}
