@keyframes fade-in {
   from {
      // visibility: hidden;
      opacity: 0;
   }
   to {
      visibility: visible;
      opacity: 1;
   }
}

//helper class
.fade-in {
   animation: fade-in 200ms ease-in-out normal;
}

@keyframes fade-out {
   from {
      visibility: visible;
      opacity: 1;
   }
   to {
      visibility: hidden;
      opacity: 0;
   }
}

.fade-out {
   animation: fade-out 200ms ease-in-out;
}




// For Filtering
@keyframes scale-in {
   from {
      transform: scale(0.7);
      -ms-tranform: scale(0.7);
   }
   to {
      transform: scale(1);
      -ms-tranform: scale(1);
   }
}
.scale-in {
   animation: scale-in 300ms ease;
}


// @keyframes scale-out {
//    from {
//       transform: scale(1);
//       -ms-tranform: scale(1);
//    }
//    to {
//       transform: scale(0);
//       -ms-tranform: scale(0);
//    }
// }
// .scale-out {
//    animation: scale-out 500ms ease;
// }
