.header {

   //Open class for JS, add when hamburger is clicked
   &.open {
      .header__menu {
         > span:first-child {
            transform: rotate(45deg);
         }
         > span:nth-child(2){
            opacity: 0;
         }
         > span:last-child {
            transform: rotate(-45deg);
         }
      }
      .header__mobileNav {
         visibility: visible;
      }
   }

   // mobile nav
   nav {
      height: 3.125rem; //50px
      padding-top: 2.8125rem;
      padding-bottom: 2.125rem;
      position: relative;
   }

   // header logo/name
   &__logo {
      color: $black;
      // font-size: 1rem;
      font-family: 'Source Code Pro', sans-serif;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.04rem;
      text-transform: uppercase;
   }

   // header mobile hamburger
   &__menu {
      //put a position on the mobile nav hamburger so it shows when mobile nav is open
      position: absolute;
      right: 2.125rem; //34px
      z-index: 10;
      width: 1.875rem; //30px
      height: 0.9375rem; //15px
      justify-content: space-between;

      > span {
         width: 25px;
         height: 2px;
         background-color: $black;
         border-radius: 3.125rem; //50px
         transition: all 300ms ease-in-out;
         transform-origin: 3px 1px;
      }
      > span:nth-child(2) {
         margin-left: 5px;
      }
   }

   //Nav link general style
   ul {
      list-style: none;

      //nav links general style
      a {
         font-family: 'Source Code Pro', monospace;
         text-transform: uppercase;
         font-size: 0.75rem; //12px
         letter-spacing: 0.04rem;
         color: $black;
         font-weight: 500;
         padding-bottom: 1.5rem;

         &:hover {
            font-weight: 700;
            border-bottom: 0.1875rem solid $orange;
            transition: all 200ms ease-in-out;

         }
      }
   }

   // Nav github icon general style
   img {
      width: 1.125rem; //18px
   }

   // Navigation for desktop
   &__links {

      a {
         margin-left: 1.875rem; //30px
         padding-bottom: 1rem;
      }
      // github icon
      .gitHubIcon {
         margin-left: 1.875rem;
         padding: 1.25rem 0;
      }

      // active nav link
      .current {
         border-bottom: 0.1875rem solid $orange;
         font-weight: 700;
         padding-bottom: 1.5rem;
      }
   }

   // Navigation for Mobile
   &__mobileNav {
      visibility: hidden; //for fade animation
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      background-color: $white;

      .header__mobileInner {
         padding-top: 1.25rem; //20px
      }

      ul {
         padding-left: 0;
         margin-top: 0;
         margin-bottom: 0;
         align-items: center;

         li {
            display: flex;
            justify-content: center;
            margin-bottom: 0.75rem; //12px
         }
         a {
            padding-bottom: 0.625rem;
            padding-top: 1rem;
            box-sizing: content-box;

            &:not(:first-child) {
               // padding-top: 1rem;
            }
            &:hover {
               transition: all 200ms ease-in-out;
               padding-bottom: 0.625rem; //10px
            }
         }
         .current {
            border-bottom: 0.1875rem solid $orange;
            font-weight: 700;
            padding-bottom: 0.625rem; //10px
         }
      }
      .gitHubIcon {
         padding-top: 1rem;
      }
   }

}
