.hero {

   // Hero background
   position: relative;

   &::before,
   &::after {
      content: '';
      position: absolute;
      height: 340px;
      bottom: -200px;
      right: 0;
      left: 0;
      background: $black;
      //adding slant
      transform: skewY(-7deg);
   }

   &__inner {

      padding-top: 200px; //150px
      padding-bottom: 6.25rem;
      height: 550px;

      .hero__name {

         h1 {
            margin-left: 12px;
            position: relative;
            display: inline-block;

            &::after {
               content: "";
               position: absolute;
               height: 16px;
               background-color: #f7d891;
               //for desktop width will be 120%
               //for mobile width will be
               width: 115%;
               top: 27px;
               bottom: 0px;
               left: -12px;
               right: 0;
               z-index: -1;
            }
         }
         //media query for desktop
         @include desktop-query {
            display: flex;
         }
      }

      .hero__job {
         h2 {
            font-size: 12px;
            font-weight: 500;
            margin-top: 20px;
         }
      }
   }
}
