.hero {

   &__inner {

      padding-top: 9.375rem; //150px
      padding-bottom: 6.25rem;


      .hero__name {

         h1 {
            margin: 0 12px 0 0;
            position: relative;
            border: 1px solid red;
            display: inline-block;

            &::after {
               content: "";
               position: absolute;
               height: 20px;
               background-color: #f7d891;
               //for desktop width will be 120%
               //for mobile width will be
               // width: 100%;
               top: 37px;
               bottom: 0px;
               left: 0;
               // left: -12px;
               right: 0;
               z-index: -1;
            }

         }
      }
      .hero__job {
         h2 {
            font-size: 14px;
            font-weight: 500;
         }
      }
   }


}
