.work_banner {

   background: $gray;
   padding-top: 50px;
   padding-bottom: 50px;

   .flex {
      justify-content: space-between;
   }
   button {
      padding: 0.625rem 2.75rem;
   }

   .section-header {
      display: flex;
      justify-content: flex-start;
      margin-left: 6px;
      margin-bottom: 50px;

      h2 {
         display: inline-block;
         position: relative;
         z-index: 1;
         color: $black;

         &::before {
            content: "";
            position: absolute;
            height: 8px;
            background-color: #f7d891;
            width: 108%;
            top: 11px;
            bottom: 0;
            left: -6px;
            right: 0;
            z-index: -1;
         }
      }
   }

   h4 {
      margin-bottom: 10px;
   }

   p {
      max-width: 400px;
   }

}
