.work_banner {

   background: $gray;
   padding-top: 50px;
   padding-bottom: 50px;

   .flex {
      justify-content: space-between;
      flex-wrap: wrap;

      // @include mobile-query {
      //    flex-direction: column;
      // }
   }

   .section-header {
      display: flex;
      justify-content: flex-start;
      margin-left: 6px;
      margin-bottom: 50px;

      h2 {
         display: inline-block;
         position: relative;
         z-index: 1;
         color: $black;

         &::before {
            content: "";
            position: absolute;
            height: 8px;
            background-color: #f7d891;
            width: 108%;
            top: 11px;
            bottom: 0;
            left: -6px;
            right: 0;
            z-index: -1;
         }
      }
   }

   h4 {
      margin-bottom: 10px;
   }

   p {
      max-width: 400px;
   }
   .portfolio-btns {

      button,
      .button {
         padding: 0.5rem 1.75rem;
         font-weight: 700;
         font-size: 13px;
         margin-left: 10px;
      }

   }


}
