.process {
   background-color: $white;
   padding-bottom: 50px;


   .container {
      max-width: 600px;
   }
   .grid {
      grid-gap: 15px 15px;
      text-align: center;
      margin-top: 35px;
   }

   h2 {
      text-align: center;
      margin-top: 0;
   }

   &__icons {
      @include mobile-query {
         grid-template-columns: repeat(3, 1fr);
         // padding-top: 35px;
      }

      p {
         font-family: 'Source Code Pro', monospace;
         font-size: 12px;
         font-weight: 600;
         text-align: center;
         // color: #c6b153;
      }
      img {
         width: 70px;
      }
   }

}
