.process {
   background-color: $white;
   padding-top: 10px;
   padding-bottom: 90px;

   @include mobile-query {
      padding-top: 25px;
      padding-bottom: 80px;
   }


   .section-header {
      display: flex;
      justify-content: flex-start;
      margin-left: 6px;

      h2 {
         position: relative;
         display: inline-block;
         color: $black;

         &::before {
            content: "";
            position: absolute;
            height: 10px;
            background-color: #f7d891;
            width: 120%;
            top: 12px;
            bottom: 0;
            left: -6px;
            right: 0;
            z-index: -1;
         }
      }
   }

   .container {
      max-width: 600px;
      position: relative;
      z-index: 1;

      @include mobile-query {
         max-width: 350px;
      }
      .section-header {
         justify-content: center;
         h2 {
            &::before {
               width: 110%;
            }
         }
      }
   }
   .grid {
      grid-gap: 25px 15px;
      text-align: center;
      margin-top: 35px;

      @include mobile-query {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   &__icons {

      p {
         font-family: 'Source Code Pro', monospace;
         font-size: 12px;
         font-weight: 600;
         text-align: center;
         margin-top: 5px;
         color: $black;
      }
      img {
         width: 70px;
      }

   }




}
