.process {
   background-color: $white;
   padding-bottom: 50px;


   .container {
      max-width: 600px;
      position: relative;
      z-index: 1;

      @include mobile-query {
         max-width: 350px;
         padding-top: 30px;
      }
   }
   .grid {
      grid-gap: 25px 15px;
      text-align: center;
      margin-top: 35px;

      @include mobile-query {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   &__icons {

      p {
         font-family: 'Source Code Pro', monospace;
         font-size: 12px;
         font-weight: 500;
         text-align: center;
         margin-top: 5px;
      }
      img {
         width: 70px;
      }
   }

}
