.work {

   background-color: $black;

   /// Work header
   &__header {

      nav {
         padding-top: 50px;
         padding-bottom: 25px;

         h3 {
            color: $white;
         }

         // work header links
         .work__links {
            padding-left: 0;
         }

         // li {
         //    margin-bottom: 5px;
         // }

         a {
            font-family: 'Source Code Pro', monospace;
            // font-size: 0.75rem; //12px
            font-size: 0.8125; //13px
            font-weight: 500;
            color: $darkCream;
            text-transform: uppercase;
            letter-spacing: 0.04rem;

            &:hover {
               font-weight: 700;
               padding-bottom: 0.25rem; //4px
               border-bottom: 0.1875rem solid $orange;
               transition: all 200ms ease-in-out;
            }
         }
      }

      // active link
      .work__current {
         font-weight: 700;
         padding-bottom: 0.25rem; //4px
         border-bottom: 0.1875rem solid $orange;
      }

   }




}
