.work {

   background-color: $black;

   // work background shape
   position: relative;

   .workTopBgShape {
      background-color: $white;
      .st0 {
         fill: $black;
      }
   }

   // &::before,
   // &::after {
   //    content: '';
   //    position: absolute;
   //    height: 200px;
   //    top: 0;
   //    left: 0;
   //    right: 0;
   //    background-color: $black;
   //    z-index: -1;
   //
   //    //adding slant
   //    transform: skewY(12deg);
   //    -webkit-transform: skewY(12deg); //chrome-safari
   //    -moz-transform: skewY(12deg); //mozilla
   //    -ms-transform: skewY(12deg); //micosoft
   // }


   /// Work header
   &__header {

      nav {
         padding-top: 10px;
         padding-bottom: 25px;

         //media query for mobile
         @include mobile-query {
            flex-direction: column;
            align-items: baseline;
            padding-bottom: 0;
         }

         h3 {
            color: $white;
         }

         // work header links
         .work__links {
            padding-left: 0;

            //media query for mobile
            @include mobile-query {
               flex-direction: column;
            }

            li {
               //media query for mobile
               @include mobile-query {

                  &:not(:last-child) {
                     // padding-top: 1rem;
                     margin-bottom: 20px;
                  }

               }
            }

            a {
               font-family: 'Source Code Pro', monospace;
               font-size: 0.75rem; //12px
               color: $darkCream;
               text-transform: uppercase;
               letter-spacing: 0.04rem;
               margin-left: 25px;
               color: $itemDescriptionP;
               // color: $white;

               &:hover {
                  font-weight: 700;
                  padding-bottom: 0.25rem; //4px
                  border-bottom: 0.125rem solid $orange;
                  transition: all 200ms ease-in-out;
                  color: $white;
                  // color: $itemDescriptionP;
               }

               //media query for mobile
               @include mobile-query {
                  margin-left: 0;
                  // margin-bottom: 10px;
               }
            }
            // active link
            .work__current {
               font-weight: 700;
               padding-bottom: 0.25rem; //4px
               border-bottom: 0.125rem solid $orange;
               color: $white;
            }
         }
      }

   }


   /// PORTFOLIO

   &__portfolio {
      .grid {
         gap: 50px 40px;
         padding-top: 20px;
         padding-bottom: 100px;

         @include tablet-query {
            grid-template-columns: repeat(2, 1fr);
         }

         @include mobile-query {
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
            padding-top: 35px;
         }
      }

      //for javascript filtering
      .hide {
         display: none;
      }

      .item {

         //img bg frame
         &__frame {
            position: relative;
            background-color: $black;
            // background-color: $white;
            padding-top: 25px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            // max-height: 325px;
            box-shadow: 0px 5px 21px 5px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 5px 21px 5px rgba(0,0,0,0.5);


            //for hover transition
            top: 0;
            transition: top 200ms ease;
            //img hover state
            &:hover {
               top: -20px;
            }

            //img frame dots
            &::after {
               content:'···';
               color: $itemFrameDots;
               font-size: 45px;
               position: absolute;
               top: -18px;
               left: 11px;
            }
            img {
               display: block; //makes img container not extend past bottom of img
               width: 100%;
            }
         }

         // item description
         &__description {
            margin-top: 30px;
            text-align: center;
            color: $white;

            p {
               text-transform: uppercase;
               font-family: 'Source Code Pro', monospace;
               font-size: 12px;
               font-weight: 500;
               letter-spacing: 0.04rem;
               color: $itemDescriptionP;
            }
         }
      }

   }

   //svg bg styling
   svg {
      display: block;

      .st0 {
         fill: $white;
      }

   }

}
