.header {

   // header logo/name
   &__logo {

   }

   // mobile menu
   &__menu {

      > span {
         display: block;
         width: 26px;
         height: 2px;
         background-color: $black;
      }

   }

}
