/// Porfolio Banner
.banner {
   background: $gray;
   padding-top: 70px;
   padding-bottom: 50px;

   @include mobile-query {
      text-align: center;
   }

   .container {
      max-width: 900px;
   }

   .flex {
      justify-content: space-between;
      flex-wrap: wrap;

      @include mobile-query {
         justify-content: center;
      }
   }

   .section-header {

      margin-left: 6px;
      // margin-bottom: 50px;

      @include mobile-query {
         justify-content: center;
      }

      h2 {
         display: inline-block;
         position: relative;
         z-index: 1;
         color: $black;
         font-size: 13.4px;
         margin-bottom: 0;
         margin-top: 5px;

         &::before {
            content: "";
            position: absolute;
            height: 8px;
            background-color: $orange;
            width: 108%;
            top: 9px;
            bottom: 0;
            left: -6px;
            right: 0;
            z-index: -1;
         }
      }
   }

   h4 {
      padding-bottom: 15px;
   }
}


// Banner info

.banner__info {
   margin-bottom: 10px;
   margin-top: 50px;

   @include mobile-query {
      text-align: center;
      padding-left: 0;
   }

   ul {
      padding-left: 15px;

      li {
         margin-bottom: 2px;
         font-size: 12.5px;
      }
   }

   p {
      max-width: 400px;
      font-size: 12.5px;
      line-height: 19px;

      @include mobile-query {
         margin-bottom: 20px;
         max-width: 100%;
      }

   }
   span {
      padding-right: 5px;
      font-weight: 600;
   }

   .portfolio__btns {
      flex-direction: column;
      justify-content: flex-start;

      button,
      .button {
         padding: 0.5rem 1.75rem;
         font-weight: 700;
         font-size: 12px;
         // margin-bottom: 10px;
         letter-spacing: 0.3px;
      }
      button:first-child,
      .button:first-child {
         margin-bottom: 10px;
      }
   }
}


/// GRAPHIC DESIGN

.graphic-design__banner {
   .multi-headers {
      justify-content: flex-start;
      flex-direction: column;

      .section-header{
         @include tablet-query {
            flex-direction: column;
            text-align: center;
            padding-left: 0;
            justify-content: center;
         }

         h2 {

            &::before {
               width: 112%;
               left: -6px;
            }
         }
      }

   }

   .banner__info {

      @include tablet-query {
         flex-direction: column;
         text-align: center;
         padding-left: 0;
         justify-content: center;
      }
      p {
         @include tablet-query {
            margin: 0 auto;
         }
      }
   }
}


//PORTFOLIO AREA
.portfolio__area {

   padding-top: 70px;
   align-items: flex-end;

   .container {
      max-width: 900px;
   }

   .email_img {
      img {
         width: 100%;
         // margin: 0 auto;
         display: block;
      }
   }

}
