/// Porfolio Banner
.banner {
   // background: $gray;
   background-color: $black;

   padding-top: 70px;
   padding-bottom: 50px;

   @include mobile-query {
      text-align: center;
   }

   .container {
      max-width: 900px;
   }

   .flex {
      justify-content: space-between;
      flex-wrap: wrap;

      @include mobile-query {
         justify-content: center;
      }
   }

   .section-header {

      margin-left: 6px;
      // margin-bottom: 50px;

      @include tablet-query {
         // justify-content: center;
         text-align: center;
         margin-left: 0;
      }

      h2 {
         display: inline-block;
         position: relative;
         z-index: 1;
         // color: $black;
         color: $itemDescriptionP;
         // font-size: 13.4px;
         font-size: 11px;
         margin-bottom: 0;
         margin-top: 5px;

         &::before {
            content: "";
            position: absolute;
            height: 8px;
            // background-color: $orange;
            background-color: #1d1d1d;
            width: 108%;
            top: 7px;
            bottom: 0;
            left: -6px;
            right: 0;
            z-index: -1;
         }
      }
   }

   h4 {
      padding-bottom: 13.5px;
      color: $white;
   }
}


// Banner info

.banner__info {
   margin-bottom: 10px;
   margin-top: 50px;

   @include mobile-query {
      text-align: center;
      padding-left: 0;
   }

   ul {
      padding-left: 15px;

      @include mobile-query {
         padding-left: 0;
      }

      li {
         margin-bottom: 2px;
         font-size: 12.5px;
         color: $darkCream;
      }
   }

   p {
      max-width: 400px;
      font-size: 12px;
      line-height: 18px;
      color: $darkCream;

      @include mobile-query {
         margin-bottom: 20px;
         max-width: 100%;
      }

   }
   span {
      padding-right: 5px;
      font-weight: 600;
   }

   .portfolio__btns {
      flex-direction: column;
      justify-content: flex-start;

      @include mobile-query {
         margin-top: 20px;
      }

      button,
      .button {
         padding: 0.5rem 1.75rem;
         font-weight: 700;
         font-size: 12px;
         // margin-bottom: 10px;
         letter-spacing: 0.3px;
         color: $darkCream;
         border: 2px solid $darkCream;

         &:hover {
            background-color: $darkCream;
            color: $black;
            font-weight: 800;
            transition: all 100ms ease-in-out;
         }
      }
      button:first-child,
      .button:first-child {
         margin-bottom: 10px;
      }
   }
}


/// GRAPHIC DESIGN

.graphic-design__banner {
   .multi-headers {
      justify-content: flex-start;
      flex-direction: column;

      .section-header{
         @include tablet-query {
            flex-direction: column;
            padding-left: 0;
         }

         h2 {

            &::before {
               width: 113%;
               left: -6px;
            }
         }
      }

   }

   .banner__info {

      @include tablet-query {
         flex-direction: column;
         text-align: center;
         padding-left: 0;
         justify-content: center;
      }
      p {
         @include tablet-query {
            margin: 0 auto;
         }
      }
   }
}


//PORTFOLIO AREA
.portfolio__area {

   padding-top: 70px;
   align-items: flex-end;

   .container {
      max-width: 900px;
   }

   .email_img {
      img {
         width: 100%;
         // margin: 0 auto;
         display: block;
      }
   }
}

// Graphic Design Portfolio
.graphic-design__portfolio {

   .branding {
      margin-bottom: 70px;

      h5 {
         margin-top: 0;
         margin-bottom: 35px;
      }

      &__logo {
         background-color: $gray;
         justify-content: center;
         margin-bottom: 50px;

         img {
            width: 240px;
            padding: 70px 10px;
         }
      }


      // pallete
      &__pallete {
         // justify-content: space-between;
         // flex-wrap: wrap;
         justify-items: center;
         grid-template-columns: repeat(4, 1fr);
         // grid-auto-flow: column;
         gap: 20px;
         max-width: 600px;
         margin: 0 auto;
         margin-bottom: 70px;

         @include tablet-query {
            grid-template-columns: repeat(2, 2fr);
            max-width: 375px;
         }

         .pallete {

            .color {
               width: 130px;
               height: 130px;
               border-radius: 50%;
               margin-bottom: 20px;
            }

            .p1 {
               background-color: #363434;
            }
            .p2 {
               background-color: #267282;
            }
            .p3 {
               background-color: #d99a45;
            }
            .p4 {
               background-color: #f8f7f2;
            }

            p {
               font-family: 'Source Code Pro', monospace;
               font-size: 11px;
               text-align: center;
            }
         }

      }

      // fonts
      &__fonts {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;

         img {
            width: 180px;
            margin: 0 25px;
         }
         img:first-child {
            @include mobile-query {
               margin-bottom: 40px;
            }
         }
      }
   }


   .portfolio__images {
      padding-top: 70px;
      background-color: $gray;

      // .portfolio-section {
      //    padding-bottom: 40px;
      // }

      .portfolio__info {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         margin-bottom: 30px;

         h5 {
            margin: 0;
         }

         .website__btns {
            display: flex;
            a {
               margin-left: 20px;
            }
         }
      }
   }
   .portfolio-section {

      .full-image {

         max-height: 700px;
         overflow: hidden;
         padding-bottom: 20px;

         img {
            width: 100%;
            border-radius: 3px;
         }
      }
   }

   .leaflet {
      padding-bottom: 50px;
   }


   /// DMK Properties
   .dmk-properties {

      // logo
      .branding__logo-2 {
         background-color: $gray;
         margin-bottom: 50px;
      }
      .branding__logo__inner {
         // display: flex;
         // flex-wrap: wrap;
         // grid-auto-flow: column;
         display: grid;
         justify-items: center;
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
         gap: 40px;

         img:first-child {
            width: 190px;
         }

         img {
            width: 240px;
            padding: 70px 10px;
            align-self: center;
         }
         @include mobile-query {
            grid-template-columns: 1fr;
            gap: 0;
         }
      }

      // pallete
      .pallete {
         .p1 {
            background-color: #363434;
         }
         .p2 {
            background-color: #f8f7f2;
         }
         .p3 {
            background-color: #efe0a4;
         }
         .p4 {
            background-color: #77a6ac;
         }
      }

      //fonts
      .branding__fonts {
         grid-row-gap: 40px;

         img:first-child {
            @include mobile-query {
               margin-bottom: 0;
            }
         }
      }

   }

   /// Wimlu
   .wilmu {
      background-color: $white;
      padding-top: 0;

   }



}
